table {
    border: 0.5vw black solid;
    border-width: 1vw;
    border-collapse: collapse;
    align-items: left;
    width: 90%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

thead {
    border: 0.2vw black solid;
    padding: 1vw;
    background-color: lightgray;
}

th {
    border: 0.5vw black solid;
    padding: 2vw;
}

td {
    border: 0.5vw darkgray solid;
    padding: 1vw;
    text-align: center;
    width: auto;
}
table, th, td {
    border: 1px solid black;
    text-align: justify;
  }

.delete-content{
    height: 60%;
    padding: 5vh;
    margin-top: 0;
    padding-top: 10vh;
}


#deleteConfirmationModal-user{
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 4vh;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.del-btn:hover {
    background-color: darkred;
}

.confirmbtn{
    background-color: green;
    width: 80%;
}

.small-btn {
    color: white;
    padding: 1vh;
    margin: 1vh;
    border-radius: 1vh;
    width: 40%;
}

input{
    width: auto;
}

.edit-user-modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 4vh;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.edit-user-content {
    width: 60%;
    padding: 4vh;
    margin-top: 0;
    padding-top: 5vh;
    padding-bottom: 0.5vh;
}

.col{
    margin: 1vh;
    width: 70%;
}